<!DOCTYPE html>
<html>

<head>
  <!-- Load in libraries here -->
  <script src="https://unpkg.com/vue"></script>
  <script src="audio.js"></script>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script> -->

</head>

<body>

<div id="root"> <!-- Vue can only access things contained within this div -->

  <div class="container">

      <div id="title">
        <h1>DIY Loudness Curves</h1>
        <h3>Investigating the perceptual nature of loudness</h3>
      </div>

    <p>In this interactive, you can examine how your perception of loudness depends on the frequency of the tone that you're listening to.</p>

    <p><strong>Caution:</strong> Notes that vary in pitch can vary *a lot* in loudness. If you jump from a low pitch to a much higher pitch, you might end up hearing a painfully loud sound. To avoid this, we recommend moving up or down one note at a time (i.e. only switch to nearby notes), and when adjusting the loudness, work your way up very gradually (i.e. don't suddenly shift the slider all the way to the right).</p>
</p>

    <h2 style="display: inline">Select a note:</h2>
    <select v-model="selectedNote">
      <option v-for="note in noteArray" v-bind:value="note">
        {{ note.note }}
      </option>
    </select>
    <p>Use the drop down menu or click on a note below.</p>

    <div class="cards">
        <div class="card" :class="{selected: note.note == selectedNote.note, clicked: notesInTable.includes(note.note)}" v-for="note in noteArray" @click="selectedNote = note">
          <a>{{note.note}}</a>
        </div>
    </div>

    </br>

    <h2 style="display: inline">Select a loudness: </h2>
    <input style="display: inline" type="range" :min="minLoudness" :max="maxLoudness" :step="loudnessStepSize" v-model="loudness" ></input>
    <p>Adjust loudness until the tones match. left = quieter, right = louder</p>

    <div class="centerbox">
      <div>Selected Note: {{selectedNote.note}}</div>
      <div>Frequency: {{selectedNote.freq}} Hz</div>
      <div>Loudness: {{loudness}} dBFS</div>
    </div>

    <div>
      <button @click="playTone">Play selected note</button>
      <button @click="playReference">Play reference note</button>
      <button @click="addToTable">Save Reading To Table</button>
    </div>

    </br>
    <p>When you're happy with the match, save your reading to the table below. If you need, you can always go back and repeat any reading. </p>

    <h2>Data Table</h2>
    <table>
    <tr>
      <th>Note</th>
      <th>Frequency (Hz)</th>
      <th>Loudness (dBFS)</th>
      <!--<th>Closest Piano Note</th>-->
    </tr>
    <tr v-for="note in Object.keys(sortedTable)">
      <td>{{note}}</td>
      <td>{{table[note].freq}}</td>
      <td>{{table[note].loudness}}</td>
    </tr>
    </table>

    </br>
    <p>If the perceived loudness of a tone were independent its frequency, then the loudness levels in the table would all be roughly the same. So, by closely examining this table, you can investigate how your perception of the loudness a note depends on its frequency.</p>

    <p>For example, finding the lowest loudness values in the table will indicate the frequency range in which your hearing is the most sensitive. (An important caveat: because you're listening to this on specific audio hardware, it's difficult to isolate the effect of your hearing from that of your speakers/headphones.)</p>

  </div>

</div>

<script src="vue-definitions.js"></script>

</body>
</html>