<!DOCTYPE html>
<html>

<head>
  <!-- Load in libraries here -->
  <script src="https://unpkg.com/vue"></script>
  <script src="audio.js"></script>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script> -->

</head>

<body>

<div id="root"> <!-- Vue can only access things contained within this div -->

  <div class="container">

      <div id="title">
        <h1>Loudness Curve Generator</h1>
        <h3>Match the loudness of tones to a reference tone</h3>
      </div>

    <p>Find out where the perceived loudness of the selected note matches that of the reference note.</p>
</p>

    <h2 style="display: inline">Select a note:</h2>
    <select v-model="selectedNote">
      <option v-for="note in noteArray" v-bind:value="note">
        {{ note.note }}
      </option>
    </select>
    <p>Use the drop down menu or click on a note below.</p>

    <div class="cards">
        <div class="card" :class="{selected: note.note == selectedNote.note, clicked: notesInTable.includes(note.note)}" v-for="note in noteArray" @click="selectedNote = note">
          <a>{{note.note}}</a>
        </div>
    </div>

    </br>

    <h2 style="display: inline">Select a loudness: </h2>
    <input style="display: inline" type="range" :min="minLoudness" :max="maxLoudness" :step="loudnessStepSize" v-model="loudness" ></input>
    <p>Adjust loudness until the tones match. left = quieter, right = louder</p>

    <div class="centerbox">
      <div>Selected Note: {{selectedNote.note}}</div>
      <div>Frequency: {{selectedNote.freq}} Hz</div>
      <div>Loudness: {{loudness}} dBFS</div>
    </div>

    <div>
      <button @click="playTone">Play selected note</button>
      <button @click="playReference">Play reference note</button>
      <button @click="addToTable">Save Reading To Table</button>
    </div>

    <p>When you're happy with the match, save your reading to the table below.</p>

    <h2>Data Table</h2>
    <table>
    <tr>
      <th>Note</th>
      <th>Frequency (Hz)</th>
      <th>Loudness (dBFS)</th>
      <!--<th>Closest Piano Note</th>-->
    </tr>
    <tr v-for="note in Object.keys(sortedTable)">
      <td>{{note}}</td>
      <td>{{table[note].freq}}</td>
      <td>{{table[note].loudness}}</td>
    </tr>
    </table>

  </div>

</div>

<script src="vue-definitions.js"></script>

</body>
</html>